{% extends page.layout %}

{% load it_issal %}

{% block body %}
<div class="paper-back">
    <div class="absolute-center">
        <div class="text-center">
            <div class="title-logo animated fadeInDown animation-delay-5">artificial<span>reason</span></div>
            <div class="transparent-div animated fadeInUp animation-delay-8">
                <h1>Error 404</h1>
                <h2>Page Not Found</h2>
                <p>We have not found what you are looking for. <br> We have put our robots to search.</p>
                <a href="index-2.html" class="btn btn-ar btn-primary btn-lg">Go Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
